.modal-body{
  color: black !important;
}
.modal-header{
  background-color: #38094A;
  border: none;
}

.close{
  color: white;
}

.modal-footer{
  border: none;
}

.logo-sigmund{
  display: none;
}

#mobile{
  display: none;
}

.services-group{
  display: flex;
  border-bottom: 1px solid;
}

.services-img{
  width: 20%;
  height: 20%;
  border-radius: 60%;
  box-shadow: 0px 0px 12px 0px #545454;
}

.services-resume{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 40px;
}

.btn-sigmund-style{
  background-color: #540D70;
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 15px 0px black;
  font-family: Calibri;
  font-weight: 600;
  font-size: 17px;
  height: 45px;
  width: 100%;
}

h5{
  align-self: baseline;
}

#erroNome,
#erroEmail,
#erroProjeto,
#erroAlunos,
#erroNewProjeto{
  display: none;
  color: red;
  font-size: 13px;
}

.alert{
  display: none;
}

@media only screen and (max-width: 600px){

  #mobile{
    display: block;
  }

  #web{
    display: none;
  }

  .logo-sigmund{
    display: block;
    width: 56%;
    margin: 0 auto;
    margin-top: 25%;
  }

  .btn-index{
    width: 65%;
    margin: 0 auto;
    margin-top: 10%;
  }

  .btn-sigmund-style{
    background-color: #540D70;
    color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 15px 0px black;
    font-family: Calibri;
    font-weight: 600;
    font-size: 17px;
    height: 45px;
    width: 100%;
    margin-bottom: 25px;
  }
}