.navbar{
  justify-content: normal !important;
}

.result{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-result-style{
  background-color: #540D70;
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 15px 0px black;
  font-family: Calibri;
  font-weight: 600;
  font-size: 17px;
  height: 45px;
  width: 100%;
}

@media only screen and (max-width: 600px){
  #title{
    background-color: #540D70;
    height: 100px;
    padding: 0 20px;
    box-shadow: -1px 5px 15px 0px #0000005c;
  }

  .navbar{
    display: flex;
  }

  h2{
    font-size: 33px;
  }

  h4{
    padding-top: 60px;
  }

  p{
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
    height: 100%;
  }
}