@media only screen and (max-width: 600px){
  html{
    height: 100%;
  }
    
  body{
    color: white;
    background: linear-gradient(to top, #38094A 0%, #A11AD6 100%);
  }

  #title{
    background-color: #540D70;
    height: 150px;
    padding: 0 20px;
    box-shadow: -1px 5px 15px 0px #0000005c;
  }

  h2{
    margin-top: 25px;
    font-size: 33px;
  }

  h4{
    padding-top: 100px;
  }

  a{
    color: white;
    margin-top: 10%;
  }

  a:active,
  a:focus,
  a:hover{
    color: black;
  }

  .result{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  p{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
  }

  .btn-result-style{
    background-color: #540D70;
    color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 15px 0px black;
    font-family: Calibri;
    font-weight: 600;
    font-size: 17px;
    height: 45px;
    width: 100%;
  }
}