html{
    height: auto;
}

nav{
    background-color: #540D70 !important;
}

body{
    color: white;
    min-height: 100vh;
    background: linear-gradient(to top, #38094A 0%, #A11AD6 100%);
}

@media only screen and (max-width: 600px){
    .navbar{
        display: none;
    }
}